
<ion-header>
	<ion-navbar>
		<ion-title>Communicate</ion-title>
		<ion-buttons end>
			<button (click)="dismiss()" ion-button color="white" clear>
				Done
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="page-communicate-css">
	<ion-searchbar type="tel" placeholder="Find your elected officials by zip" [(ngModel)]="zipCode" (ionInput)="updateSearch($event)"></ion-searchbar>
	
	<ion-list>
		<div class="center-div">{{zipAddress}}</div>
		<ion-grid>
			<ion-item-divider *ngIf="officialsList.senate.length">United States Senate</ion-item-divider>
			<ion-row align-items-center *ngFor="let senator of officialsList.senate; let i=index">
				<!-- 				<ion-col col-1>
					<ion-checkbox [checked]="senator.selected" (ionChange)="toggleItem('senate',i)"></ion-checkbox>
				</ion-col> -->
				<ion-col col-auto>
					<img class='fit-thumbnail' src="{{senator.data.photoUrl || './assets/img/icons/avatar_placeholder_small.png'}}">
				</ion-col>
				<ion-col col-3 class="address-list">
					<div>{{senator.data.name}}</div>
					<div>{{senator.data.party}}</div>
					<div>{{senator.data.phones[0]}}</div>
				</ion-col>
				<ion-col col-auto>
					<ion-icon name="call" class="phone-icon" (click)="phoneOfficial('senate', i)"></ion-icon>
					<ion-icon name="mail" class="email-icon" (click)="contactOfficial('senate', i)"></ion-icon>
					<ion-icon name="help-circle" class="info-icon" (click)="showHelp()"></ion-icon>
				</ion-col>
			</ion-row>

			<ion-item-divider *ngIf="officialsList.house.length">House of Representatives</ion-item-divider>

			<ion-row align-items-center *ngFor = "let rep of officialsList.house; let j=index">
				<!-- 				<ion-col col-auto>
					<ion-checkbox [checked]="rep.selected" (ionChange)="toggleItem('house',j)"></ion-checkbox>
				</ion-col> -->
				<ion-col col-auto>
					<img class="fit-thumbnail" src="{{rep.data.photoUrl || './assets/img/icons/avatar_placeholder_small.png'}}">
				</ion-col>
				<ion-col col-3 class="address-list">
					<div>{{rep.data.name}}</div>
					<div>{{rep.data.party}}</div>
					<div>{{rep.data.phones[0]}}</div>
				</ion-col>
				<ion-col col-auto>
					<ion-icon name="call" class="phone-icon" (click)="phoneOfficial('house', j)"></ion-icon>
					<ion-icon name="mail" class="email-icon" (click)="contactOfficial('house', j)"></ion-icon>
					<ion-icon name="help-circle" class="info-icon" (click)="showHelp()"></ion-icon>

				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>


<!-- 	<div text-center >
		<button ion-button color="primary" large [disabled]="!somethingSelected()">Send</button>
	</div> -->
	<ion-footer>
		<ion-grid no-padding>
			<ion-row no-padding justify-content: center style="background-color: darkgray;">
				<ion-col align-self-center col-7 style="padding-left: 8px; color: white; font-weight: 500; font-size: 110%;">
						Not registered to vote?
				</ion-col>
				<ion-col>
						<button ion-button icon-start color="primary" (click)="registerToVote()"><img src="./assets/img/icons/us_flag_small.png">  Register here</button>
				</ion-col>
			</ion-row>
			<ion-row style="height:20px;"></ion-row>
		</ion-grid>
			
	</ion-footer>
</ion-content>
