page-communicate {
	.page-communicate-css {
        font-size: 16px;
        
        ion-scroll {
        	height: 200px;
        }

        input {
        	background-color: #f2f2f2;

        }

        ion-input:focus + label {
		    color: red
		}
		.center-div {
			text-align:center;
		}
		.fit-thumbnail {
			object-fit : cover;
			max-width: 50px;
		}
		.phone-icon {
			color : green;
			font-size: 24px;
			padding: 15px;
		}
		.info-icon {
			font-size: 24px;
			padding: 15px;
		}
		.email-icon {
			font-size: 24px;
			padding: 15px;
		}
		.address-list {
			font-size:80%;
		}

	}

}
