<!-- Generated template for the ActionButtonComponent component -->
<div [ngSwitch]="buttonToDisplay">
  <button *ngSwitchCase="'addToHome'" ion-button (click)="toggleAddToHome(organization.id)" clear small color="secondary" icon-start
    style="padding-left: 0px">
    <ion-icon name='home'></ion-icon>
    {{addToHomeText}}
  </button>
  <button *ngSwitchCase="'donate'" ion-button clear small color="primary" (click)="donate((activity ? activity.id : organization.id))" icon-start>
    <ion-icon name='cash'></ion-icon>
    Donate
  </button>

  <button *ngSwitchCase="'socialShare'"  (click)="startSocialShare()" ion-button clear small color="primary" icon-start>
    <ion-icon name='share'></ion-icon>
    Share
  </button>
  <button *ngSwitchCase="'like'" ion-button (click)="toggleFavoriteActivity(activity.id)" clear small color="primary" icon-start>
      <ion-icon [name]="userProvider.isUserFavorite('activities', activity.id) ? 'star' : 'star-outline'"></ion-icon>
      Like
    </button>
</div>