<ion-header [hidden]="false">

  <ion-navbar swipeBackEnabled="true">
    <ion-title>Find your March</ion-title>
    
  </ion-navbar>
  
    <ion-searchbar style="border-bottom: 1px solid black;" (ionInput)="filterList($event)" placeholder="Search by State" showCancelButton="true"></ion-searchbar>

</ion-header>



<ion-content id="content" #content class="march-css" parallax-header [showImage]="organization ? true : false">
  <ion-spinner class="centerSpinner" *ngIf="loading"></ion-spinner>
 
  <div class="header-image " [ngClass]="!organization ? 'header-image-hidden' : ''" [ngStyle]="{'background-image': 'url(' +  (orgMainImageUrl) + ')'}"></div>
  <div class="main-content">

    
    <org-home *ngIf="isReady && useSelectedMarch && organization" [organization]='organization' [options]="{hideImage: true}"> </org-home>
  </div>

  <div *ngIf="!useSelectedMarch">
    <div text-center>
      <img src="assets/MFOL/img/MFOL 1024.png" class="main-image ">
    </div>
    <div text-center>
    <div class="intro-text ">
        On March 24, the kids and families of March For Our Lives will take to the streets of YOUR city to demand that their lives and safety become a priority and that we end gun violence and mass shootings in our schools today.
        <p></p>
        March with us in Washington DC or march in your own community. 
    </div>
    <div text-center>
      <div class="call-to-action-text yellow-highlight">
        Select the march that you want to attend
      </div>
    </div>
  </div>
    <ion-list no-lines>
      <ion-item *ngFor="let event of eventList" [id]="event.metadata.id || ''">
          <ion-card (click)="showEvent(event)">
              <ion-card-header style="white-space:normal;">
                <div class="header-state">{{event.additionalData.state}}</div>
                
                  {{event.companyName}}
              </ion-card-header>
              <ion-card-content>
                <div class="date-text">
                    {{event.additionalData.whenString + " " + event.additionalData.timeString}}
                </div>
                <div class="address-text">
                    <div *ngFor="let line of event.additionalData.address">
                        <div>{{line}} </div>
                      </div>
                </div>
              </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>

<actions-bar *ngIf="showDonateButton" class="orgShowActionBar" [organization]="organization" [activity]="currentActivity"
  [options]="{buttonsToDisplay : actionsBarButtonsToDisplay, changeTab: false, engageOptions: engageOptions}"></actions-bar>

<div style="height: 150px">
  <!-- just to give us room to scroll everything up -->
</div>
