<ion-header [hidden]="false">

  <ion-navbar swipeBackEnabled="true">
    <ion-title>Be Heard!</ion-title>
    
  </ion-navbar>
  
    <ion-searchbar #searchBar style="border-bottom: 1px solid black;" (ionInput)="filterList($event)" placeholder="Search by City, State or Province" showCancelButton="true"></ion-searchbar>

</ion-header>

<ion-content id="content" #content class="march-css" parallax-header [showImage]="organization ? true : false">
  <ion-spinner class="centerSpinner" *ngIf="loading"></ion-spinner>
 
  <div class="header-image " [ngClass]="!organization ? 'header-image-hidden' : ''" [ngStyle]="{'background-image': 'url(' +  (orgMainImageUrl) + ')'}"></div>
  <div class="main-content">

    
    <org-home *ngIf="isReady && useSelectedMarch && organization" [organization]='organization' [options]="{hideImage: true}"> </org-home>
  </div>

  <div *ngIf="!useSelectedMarch">
    <div text-center class="main-image-backer">
      <img src="assets/beheard/Be-Heard-LOGO full width.png" class="main-image ">
    </div>
    <div text-center>
    <div class="march-header">
      Featured Events: March For Our Lives
    </div>
    <div class="intro-text ">
        Help us to support the March for Our Lives Movement.  On March 24th, students accross the US and around the world are leading marches to demand that their lives and safety become a priority and that we end gun violence and mass shootings in school today.
        
    </div>
    <div text-center>
      <div class="call-to-action-text yellow-highlight">
        Select the event that you want to attend and <span color-text>Favorite</span> it to get notifications of important  updates.
      </div>
    </div>
  </div>
    <ion-list no-lines>
      <ion-item *ngFor="let event of eventList" [id]="event.metadata.id || ''">
          <ion-card (click)="showEvent(event)">
              <ion-card-header class="card-header" style="white-space:normal;">
                <div class="header-state">{{event.additionalData.state}}</div>
                
                  {{event.companyName}}
              </ion-card-header>
              <ion-card-content>
                <div class="date-text">
                    {{event.additionalData.whenString + " " + event.additionalData.timeString}}
                </div>
                <div class="address-text">
                    <div *ngFor="let line of event.additionalData.address">
                        <div>{{line}} </div>
                      </div>
                </div>
              </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <div style="height:350px;"></div>
</ion-content>

<actions-bar *ngIf="showDonateButton" class="orgShowActionBar" [organization]="organization" [activity]="currentActivity"
  [options]="{buttonsToDisplay : actionsBarButtonsToDisplay, changeTab: false, engageOptions: engageOptions}"></actions-bar>


