
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="activity-page-css"  >

  <div *ngIf="activity.info.type == 'map'">
      <share-map class="map" [options]="mapOptions"></share-map>
      <div *ngIf="mapOptions" class="map-explain-text">
        {{mapOptions.explainText}}
      </div>
  </div>
  <ion-grid style="margin-top: 20px;">
    <ion-row justify-content-center>
      
        <button ion-button color="primary" medium (click)="directions()">Get Directions</button>
      
    </ion-row>
  </ion-grid>

</ion-content>
