org-home-item {
   .org-home-item-css{

      .mainImage {
            max-height: 8vh;
            width:auto;
            margin-left: auto; 
            margin-right: auto; 
            display: block;
      }

      .messageHeading {
          font-weight: bold;
          font-size: 110%;
      }

      .fullText {
          white-space: normal;
      }

      .callToAction {
          font-weight: bold;
          font-size: 110%;
          color: secondary;
      }
   }
}
