<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500682232012-0s8457nal3paqdtcd996cn6iloendvmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500682232012-0s8457nal3paqdtcd996cn6iloendvmc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500682232012-90hbo3ta732h7ip57q9ctpuklr3lje3f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBROWgHWyHM8wdsbqymnBJNi52ewCw7Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>500682232012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipaymyway.share</string>
	<key>PROJECT_ID</key>
	<string>share-75e74</string>
	<key>STORAGE_BUCKET</key>
	<string>share-75e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:500682232012:ios:73cfba64784336a4</string>
	<key>DATABASE_URL</key>
	<string>https://share-75e74.firebaseio.com</string>
</dict>
</plist>