<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
        <button (click)="changePasscode()" ion-button color="primary" clear>
           Change Passcode
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="settings-profile-css">
  <ion-list no-lines>
    <p [hidden]="!submitAttempt || isError" style="color: #ea6153;">{{errorMessage}}</p>

    <form [formGroup]="profileForm">
      <ion-item>
        <ion-label floating>First Name
            <span class="invalidFormText" *ngIf="!profileForm.controls.firstName.valid  && (profileForm.controls.firstName.dirty || submitAttempt)">
                Please enter a valid name.
            </span>
        </ion-label>
        <ion-input formControlName="firstName" type="text" [class.invalid]="!profileForm.controls.firstName.valid && (profileForm.controls.firstName.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name 
          <span *ngIf="!profileForm.controls.lastName.valid  && (profileForm.controls.lastName.dirty || submitAttempt)" class="invalidFormText">Please enter a valid last name</span> 
        </ion-label>
        <ion-input formControlName="lastName" type="text" [class.invalid]="!profileForm.controls.lastName.valid && (profileForm.controls.lastName.dirty || submitAttempt)"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label floating>Phone Number
            <span class="invalidFormText" *ngIf="!profileForm.controls.phoneNumber.valid  && (profileForm.controls.phoneNumber.dirty || submitAttempt)">
                Please enter a valid phone number.
            </span>
        </ion-label>
        <ion-input formControlName="phoneNumber" type="tel" [class.invalid]="!profileForm.controls.phoneNumber.valid && (profileForm.controls.phoneNumber.dirty || submitAttempt)"></ion-input>
      </ion-item>
    
    </form>
  </ion-list>
  <button [disabled]="!profileForm.dirty || !profileForm.valid" ion-button full color="primary" (click)="update()">Update</button>
</ion-content>