org-home {

    .orgImage {
        max-height: 18vh;
        width:auto;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }

    .coreMessage {
        font-size: 85%;
        padding: 3px 5px 0 5px
    }
}
