<ion-header [hidden]="true">

  <ion-navbar *ngIf="true" swipeBackEnabled="true">

    <ion-title></ion-title>

  </ion-navbar>

</ion-header>

<div *ngIf="showPrevButton || showNextButton" id="navButtonsContainer" class="imageOverlayGradient" style="position: relative; top: 0; width: 100vw; height: 30px; z-index: 998">
  
    <!-- <button  (click)="prev()" ion-button color="primary" clear> -->
    <button  *ngIf="showPrevButton" (click)="prev()" ion-button color="white" clear class="navButtonOverlay" style="left: 0;">
      <ion-icon name="arrow-back"></ion-icon>
     
    </button>
   
  
    <button *ngIf="showNextButton" (click)="next()" ion-button color="white" clear class="navButtonOverlay" style="right: 0;">
        <ion-icon name="arrow-forward"></ion-icon>
    </button>
  
</div>


<ion-content #content class="home-css">
  <div *ngIf="orgsAreValid && organizations && organizations?.length == 0" class="infoCard">
    <ion-card>
      <ion-card-header>
        <img class="logoImage" src="assets/img/share/Share_ICON-192x192px.png" /> Discover!

      </ion-card-header>
      <ion-card-content>
        Tap the
        <b>Discover</b> tab below to find your interests. Then
        <i>Add to home</i> to see your favorite organization's news, events and updates right here.
      </ion-card-content>
    </ion-card>
  </div>


  <ion-slides #orgSlides *ngIf="organizations && organizations?.length > 0" [pager]="false" [centeredSlides]="false" [loop]="false"
    [pager]="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide #orgSlide *ngFor="let organization of organizations; let i = index">

      <org-home [organization]='organization'> </org-home>


    </ion-slide>

  </ion-slides>




</ion-content>
<!-- <img *ngIf="showShareButton" src="assets/img/icons/icon-donate@x2.png" #fixedButtonName class="fixedButton"> -->
<action-button class="fixedButton" [buttonToDisplay]="'roundDonate'" [organization]="currentOrganization" [activity]="currentActivity"> </action-button>