<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="false">
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides [centeredSlides]="false" [loop]="true" [pager]="true">
    <ion-slide *ngFor="let organization of organizations | async">

      <org-home [organization]='organization'> </org-home>
    </ion-slide>

  </ion-slides>



</ion-content>