page-org-home {
    .org-home-css {
        
    }

    .orgAddToFavoritesButton {
      position: absolute;
      height: 20px;
      left: 50%;
      margin-left: -25%;
      top: 83vh;
      z-index: 999;
      
  }
}