<ion-header >

  <ion-navbar swipeBackEnabled="true" [hideBackButton]='hideBackButton'>
      
    <ion-title>{{organization && organization.companyName.substring(0,50) || "Favorites"}}</ion-title>
    <ion-buttons end>
      <button *ngIf="showNextButton" (click)="next()" ion-button color="white" clear>
        <span style="padding-right:3px;">Next</span>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<!-- <div #navButtons *ngIf="showNavButtons && (showPrevButton || showNextButton)" id="navButtonsContainer" [ngClass]="applicationIsMFOL ? '' : 'imageOverlayGradient'" class=" org-nav-buttons">

 
  <button *ngIf="showPrevButton" (click)="prev()" ion-button color="white" clear class="prevButton navButton">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <button *ngIf="showNextButton" (click)="next()" ion-button color="white" large clear class="nextButton navButton">
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</div> -->




<ion-content *ngIf="!applicationIsMFOL" #content class="org-home-css" parallax-header [showImage]="organization ? true : false" (swipe)="swipeEvent($event)">
  <ion-spinner class="centerSpinner" *ngIf="loading"></ion-spinner>
  <div class="header-image " [ngClass]="!organization ? 'header-image-hidden' : ''" [ngStyle]="{'background-image': 'url(' +  (orgMainImageUrl) + ')'}"></div>
  <div class="main-content">

    <div *ngIf="isReady && !organization">
      <div>
        <img [src]="discoverImage">
      </div>
    </div>
    <org-home *ngIf="isReady && organization" [organization]='organization' [options]="{hideImage: true}"> </org-home>
  </div>
</ion-content>

<!-- MFOL main content -->
<ion-content  *ngIf="applicationIsMFOL" #content class="org-home-css"  (swipe)="swipeEvent($event)">
  <ion-spinner class="centerSpinner" *ngIf="loading"></ion-spinner>
  
  <div class="main-content">

    <div *ngIf="isReady && !organization">
      <div>
        <img [src]="discoverImage">
      </div>
    </div>
    <org-home *ngIf="isReady && organization" [organization]='organization' [options]="{hideImage: false}"> </org-home>
  </div>
</ion-content>

<actions-bar *ngIf="showDonateButton" class="orgShowActionBar" [organization]="organization" [activity]="currentActivity"
  [options]="{buttonsToDisplay : actionsBarButtonsToDisplay, changeTab: false, engageOptions: engageOptions}"></actions-bar>

<div style="height: 150px">
  <!-- just to give us room to scroll everything up -->
</div>