<ion-header [hidden]="hideHeader">

  <ion-navbar swipeBackEnabled="true">
    <ion-title>{{organization && organization.companyName}}</ion-title>

  </ion-navbar>

</ion-header>

<!-- <ion-content class="org-home-css" [style.background-color]="organization && organization.info && organization.info.backgroundColor || '#FFFFFF' "> -->
<ion-content  *ngIf="organization" class="org-home-css" parallax-header>
  <div class="header-image"  [ngStyle]="{'background-image': 'url(' + organization.images.image + ')'}"></div>
  <div class="main-content">

    <org-home *ngIf="organization" [organization]='organization' [options]="{hideImage: true}"> </org-home>
  </div>
</ion-content>

<action-button *ngIf="showAddToHomeButton" class="orgAddToFavoritesButton" [organization]="organization" [activity]="currentActivity"
  [options]="{buttonToDisplay : 'donateButtonStdButton', changeTab: false}"> </action-button>
<action-button *ngIf="showDonateButton" class="fixedButton" [organization]="organization" [activity]="currentActivity" [options]="{buttonToDisplay : 'roundDonate', changeTab: false}">
</action-button>

