page-org-home {
    .org-home-css {}
    .orgAddToFavoritesButton {
        position: absolute;
        height: 20px;
        left: 50%;
        margin-left: -25%;
        top: 83vh;
        z-index: 999;
    }
    .header-image {
       // background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        height: 75vh;
    }
    .main-content {
        
        background-color: white;
    }

    
}