<ion-header>

  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="impact-css">
  <div *ngIf="userHasOrganization">
    <ion-segment style="padding-left: 10%; padding-right: 10%;" [(ngModel)]="showWhichDonations" (ionChange)="selectionChanged($event)">
      <ion-segment-button value="donations">My Donations
      </ion-segment-button>
      <ion-segment-button value="received">Received
      </ion-segment-button>
    </ion-segment>
  </div>

  <div style="margin-top: 15px;"></div>
  <ion-list>
    <ion-item *ngFor="let donation of donations" class="donationTable">
      <ion-thumbnail item-start>
        <img class="thumbnail" src="{{donation.recipient.icon}}">
      </ion-thumbnail>
      <h2>{{donation.recipient.name}}</h2>
      <div *ngIf="donation.type == 'donation'">
        <p>
          <span>$hared {{ donation.data.amount | currency:'USD':'symbol':'1.2-2'}}</span>
          <span class="donation-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
        </p>
        <p class="donation-paid-fees">{{donation.data.donorPaidFees ? '(Includes processing fees)' : ''}}</p>
      </div>
      <div *ngIf="donation.type == 'volunteer'">
        <p>
          <span>Volunteered </span>
          <span class="donation-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
        </p>
      </div>

    </ion-item>
  </ion-list>


</ion-content>