page-impact {
  .impact-css {
    font-size: 16px !important;

    .donationTable  {
        font-size: 90%;
    }

    .headerRow {
        margin-top: auto;
        margin-bottom: auto;
    }

    .impact-text {
      font-size: 90% !important;
    }

  }
}
