<ion-header>

  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>



<ion-content no-padding class="impact-css">
  <div *ngIf="userHasOrganization">
    <ion-segment style="padding: 3vh 10% 3vh 10%" [(ngModel)]="showWhichDonations" (ionChange)="selectionChanged($event)">
      <ion-segment-button value="donations">My Impact
      </ion-segment-button>
      <ion-segment-button value="received">Impact Received
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="!donations || !donations.length">
    <div style="margin-top:15vh; width:60vw; margin-left:20vw;" class="text-center">
      <h5>Your impact events will show up here as you
        <b>Engage,</b> such as Volunteer, Social sharing, Petition or Advocate by contacting your representatives.</h5>
    </div>

  </div>


  <div style="margin-top: 15px;"></div>
  <ion-list>
    <ion-item *ngFor="let donation of donations" class="donationTable">
      <ion-thumbnail item-start>
        <img class="thumbnail" src="{{donation.recipient.icon}}">
      </ion-thumbnail>
      <ion-grid no-padding>
       
        <ion-row no-padding>
          <div class="impact-headline">{{donation.recipient.name}}</div>
        </ion-row>
        <ion-row no-padding *ngIf="donation.type == 'donation'">
          <ion-col no-padding>
            <span class="impact-text">Donated {{ donation.data.amount | currency:'USD':'symbol':'1.2-2'}}</span>
          </ion-col>
          <ion-col no-padding col-3>
            <span class="impact-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
          </ion-col>
        </ion-row>
      

        <ion-row no-padding *ngIf="donation.type == 'volunteer'">
          <ion-col>
            <span>Volunteered </span>
          </ion-col>
          <ion-col col-3>
            <span class="impact-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
          </ion-col>
        </ion-row>

        <ion-row no-padding *ngIf="donation.type == 'share'">
            <ion-col>
              <span>Shared with friends </span>
            </ion-col>
            <ion-col col-3>
              <span class="impact-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
            </ion-col>
          </ion-row>

        <ion-row no-padding *ngIf="donation.type == 'petition'">
            <ion-col>
              <span class="impact-text">{{uCaseFirstChar(donation.data.action)}}: {{donation.data.target}} </span>
            </ion-col>
            <ion-col col-3>
              <span class="impact-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
            </ion-col>
          </ion-row>

        <ion-row no-padding *ngIf="donation.type == 'communicate'">
          <ion-col>
            <span class="impact-text">{{uCaseFirstChar(donation.data.action)}}: {{donation.data.target}} </span>
          </ion-col>
          <ion-col col-3>
            <span class="impact-date"> {{donation.time | date:'MMM dd yyyy' }}</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showWhichDonations == 'received'" style="padding-top: 4px;">
          <ion-col col-12 class="impact-text selectable">
          {{donation.donor.name}}
        </ion-col>
        <ion-col class="impact-text selectable" >
          {{donation.donor.email}}
        </ion-col>
        </ion-row>
      </ion-grid>




    </ion-item>
  </ion-list>


</ion-content>