<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
        <button (click)="cancel()" ion-button color="primary" clear>
           Cancel
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="add-stripe-cc-css">

  

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-10>


        <ion-list no-lines>
          <p [hidden]="!submitAttempt" style="color: #ea6153;">{{errorMessage}}</p>


          <form [formGroup]="ccForm">

            <ion-item>

              <ion-label floating>Cardholder's name
                <span class="invalidFormText" *ngIf="!ccForm.controls.cardholder.valid  && (ccForm.controls.cardholder.dirty || submitAttempt)">
                  Cardholder name is required
                </span>
              </ion-label>
              <ion-input formControlName="cardholder" type="text" [class.invalid]="!ccForm.controls.cardholder.valid && (ccForm.controls.cardholder.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item>

              <ion-label floating>Card number
                <span class="invalidFormText" *ngIf="!ccForm.controls.cardnumber.valid  && (ccForm.controls.cardnumber.dirty || submitAttempt)">
                  {{ccForm.controls.cardnumber.value ? "Card number is not valid" : "Please enter a cardnumber."}}
                </span>
              </ion-label>
              <ion-input formControlName="cardnumber" (input)="cardNumberChanged($event.target.value)" (blur)="cardNumberBlurred($event.target.value)"
                type="tel" [class.invalid]="!ccForm.controls.cardnumber.valid && (ccForm.controls.cardnumber.dirty || submitAttempt)"></ion-input>

            </ion-item>


            <ion-item>
              <ion-label floating>Expiration date
                <span class="invalidFormText" *ngIf="!ccForm.controls.expirationDate.valid  && (ccForm.controls.expirationDate.dirty || submitAttempt)">
                  A valid expiration date is required
                </span>
              </ion-label>
              <ion-input formControlName="expirationDate" (input)="expirationDateChanged($event.target.value)" (blur)="validateExpirationDate($event.target.value)" type="tel" [class.invalid]="!ccForm.controls.expirationDate.valid && (ccForm.controls.expirationDate.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>CVC
                <span class="invalidFormText" *ngIf="!ccForm.controls.cvc.valid  && (ccForm.controls.cvc.dirty || submitAttempt)">
                  Valid CVC from card back code is required
                </span>
              </ion-label>
              <ion-input formControlName="cvc" type="tel" (blur)="validateCVC($event.target.value)" [class.invalid]="!ccForm.controls.cvc.valid && (ccForm.controls.cvc.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item>

              <ion-label floating>Postal Code
                <span class="invalidFormText" *ngIf="!ccForm.controls.postalCode.valid  && (ccForm.controls.postalCode.dirty || submitAttempt)">
                  Enter postal code for the cards billing address
                </span>
              </ion-label>
              <ion-input formControlName="postalCode" type="number" [class.invalid]="!ccForm.controls.postalCode.valid && (ccForm.controls.postalCode.dirty || submitAttempt)"></ion-input>
            </ion-item>

          </form>
        </ion-list>
      </ion-col>
      <ion-col>
          <img  *ngIf="ccType" style="max-height: 30px;" class="fit-thumbnail" [src]="'./assets/img/ccIcons/' + ccType + '.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <button [disabled]="!ccForm.dirty || !ccForm.valid" ion-button full color="primary" (click)="submit()">Submit</button>
  <br>

</ion-content>