
<ion-header>
  
    <ion-navbar>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="discover-class-css">
  
    <ion-list>
      <ion-item  *ngFor="let organization of organizations | async" style="padding-right: 0 !important">
        <discover-list-organization [organization]="organization"></discover-list-organization> 
      </ion-item>
    </ion-list>
    
  </ion-content>
  <ion-footer *ngIf="showSearchBar">
  <ion-toolbar class="discover-class-css whiteSearchbar">
      <ion-searchbar [showCancelButton]="true" (ionInput)="onSearchInput($event)">
      </ion-searchbar>
    </ion-toolbar>
  </ion-footer>