page-discover {
    .discover-class-css {
        .item {
            padding-left: 0px;
        }
        .label {
            margin: 0;
        }
        .item-inner {
            padding-right: 0px!important;
        }
        .toolbar-background-ios {
            background-color: white !important;
        }
        .toolbar-background-md {
            background-color: white !important;
        }
    }
}