page-update-history {

    .page-update-history-css {
        font-size: 16px;
        .update-header {
            font-variant: small-caps;
            font-size: 75%;
            text-align: left;
            padding-bottom: 3px;
        }

        .update-text {
            white-space: normal;
            padding: 4px 15px 0px 8px;
        }

        .warning-text {
            color: red;
            margin: 8px 8px 8px 8px;
        }
    }
}
