<ion-header>

  <ion-navbar>
    <ion-title>Updates</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-update-history-css">

  <div class="warning-text" *ngIf="isOrgOwner">
    As an owner of this event you can delete any entry by swiping to the left and pressing 'delete'
  </div>
  <ion-list >
    <ion-item-sliding #slidingItem *ngFor="let update of updateList">
      <ion-item>
        <div class="update-header">{{update.update.time | date:'MMM dd yyyy h:mm a'}}</div>
        <div class="update-text" [innerHTML]="update.update.updateText"></div>

      </ion-item>
      <ion-item-options side="right" *ngIf="isOrgOwner">
        <button ion-button color="danger" (click)="deleteUpdate(update, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>