<div class="paymethod-choices-css">
  <ion-list no-padding>
    <ion-item *ngFor="let choice of choices">
      <ion-grid no-padding>
        <ion-row class="choicesItem"(click)="dismiss(choice.kind)">
          <ion-col col-2 *ngIf="choice.iconType == 'icon'">
          	<ion-icon name="card"></ion-icon>
          </ion-col>
          <ion-col col-2 *ngIf="choice.iconType == 'image'">
            <img src={{choice.imgUrl}}>
          </ion-col>
          <ion-col padding>{{choice.description}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>