<!-- Generated template for the OrgHomeItemComponent component -->
<div class="org-home-item-css" >

  <ion-card >
      <img  *ngIf="activity.images.image" class="mainImage" src="{{activity.images.image}}" />
   
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row no-padding class="messageHeading">
            {{activity.messages.heading}}
        </ion-row>
        <ion-row class="fullText">
            {{activity.messages.fullText}}
        </ion-row>
        <ion-row class="callToAction" >
            {{activity.messages.callToAction}}
        </ion-row>
        <actions-bar [activity]="activity" [organization]="organization" [buttonsToDisplay]="buttonsToDisplay"></actions-bar>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>

</div>