
<ion-header>
  <ion-navbar>
    <ion-title>Paymethods</ion-title>
    <ion-buttons end>
        <button (click)="showSelectPopover($event)" ion-button color="white" clear>
           Add
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding style = "paymethods-page-css">
    <div style="height:10px;"></div>
    <div *ngIf="paymethods && (paymethods.length > 1)" style="font-size: 80%; color: gray; padding-left: 10px;">
      <ion-icon name="checkmark-circle-outline"></ion-icon> is default paymethod.
    </div>
    <br>
    <div style="height: 10px;"></div>
    <ion-list>
      <ion-item *ngFor="let paymethod of  paymethods; let i = index">
        <ion-grid no-padding>
          <ion-row nowrap *ngIf="paymethod.vendor == 'stripe'" (click)="makeDefaultPaymethod(i)">
            <ion-col>
              <ion-icon *ngIf="paymethod.isPreferred" name="checkmark-circle-outline"></ion-icon>
            </ion-col>
            <ion-col col-4>
              <img class="fit-thumbnail" src="./assets/img/ccIcons/{{paymethod.brand | lowercase}}.png">
            </ion-col>
            <ion-col col-5 align-self-center>Ending in {{paymethod.lastFour}}</ion-col>
            <ion-col align-self-center >
              <ion-icon (click)="deletePaymethod(i)" name="trash"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row nowrap *ngIf="paymethod.vendor == 'paypal'" (click)="makeDefaultPaymethod(i)" >
            <ion-col (click)="makeDefaultPaymethod(i)">
              <ion-icon *ngIf="paymethod.isPreferred" name="checkmark-circle-outline"></ion-icon>
            </ion-col>
            <ion-col col-4>
              <img class="fit-thumbnail" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-small.png" alt="PayPal Acceptance">
            </ion-col>
            <ion-col col-5 align-self-center style="font-size: 80%;">({{paymethod.displayName}})</ion-col>
            <ion-col align-self-center>
              <ion-icon (click)="deletePaymethod(i)" name="trash"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>